.main_dialog {
  position: absolute;
  bottom: 15.37037037037037vh;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: row;
  align-items: center;
}
.dialog_left {
  background: linear-gradient(90deg, rgba(0, 0, 0, 0) 6.81%, rgba(0, 0, 0, 0.2) 65.06%, rgba(0, 0, 0, 0.2) 123.98%);
  border-radius: 1.0416666666666667vw;
  padding-top: 1.2962962962962963vh;
  padding-bottom: 0.9259259259259259vh;
  padding-right: 0.5208333333333334vw;
  padding-left: 1.9791666666666667vw;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  font-family: 'RubikMedium';
  font-size: 1.2037037037037037vh;
  color: #d0dee5;
}
.dialog_left span {
  text-shadow: 0px 0px 0.3125vw rgba(0, 0, 0, 0.12);
  text-align: right;
  height: 2.962962962962963vh;
  display: flex;
  align-items: center;
  border-radius: 0.5208333333333334vw;
  padding-right: 0.625vw;
}
.dialog_left .gold_hover {
  color: #f2deaa;
}
.dialog_left span:hover {
  background: linear-gradient(270deg, rgba(208, 222, 229, 0.1) 0%, rgba(208, 222, 229, 0) 100%);
}
.dialog_left span.gold_hover:hover {
  background: linear-gradient(270deg, rgba(242, 222, 170, 0.1) 0%, rgba(242, 222, 170, 0) 100%);
}
.dialog_left span:not(:first-child) {
  margin-top: 0.18518518518518517vh;
}
.dialog_right {
  margin-left: 1.5625vw;
  font-family: 'RubikMedium';
  color: #fff;
  text-shadow: 0px 0px 0.3125vw rgba(0, 0, 0, 0.12);
}
.dialog_right .d_r_sp {
  white-space: pre-line;
  font-size: 1.2037037037037037vh;
  margin-top: 1.7592592592592593vh;
  margin-left: 0.5208333333333334vw;
  max-width: 26.09375vw;
}
.dialog_right .d_r_t {
  margin-top: 0.9259259259259259vh;
  font-size: 2.2222222222222223vh;
}
