.rent {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: linear-gradient(165.44deg, #323638 -0.61%, #292c2e 100%);
  border-radius: 20px;
}
.rent__list {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 450px;
  width: max-content;
  padding: 20px;
  flex-wrap: wrap;
  overflow: overlay;
  max-height: 330px;
}
.rent__list__car {
  position: relative;
  box-sizing: border-box;
  border-radius: 10px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 220px;
  height: 160px;
  margin-top: 10px;
  margin-right: 10px;
  --background: linear-gradient(
      180deg,
      rgba(41, 44, 51, 0) 50.52%,
      rgba(41, 44, 51, 0.6) 100%
    ),
    center/cover no-repeat;
  transition-duration: 0.3s;
}
.rent__list__car.active {
  border: 2px solid #ffffff;
}
.rent__list__car:hover {
  --background: linear-gradient(
      180deg,
      rgba(41, 44, 51, 0) 50.52%,
      rgba(41, 44, 51, 0) 100%
    ),
    center/cover no-repeat;
}
.rent__list .rent__list__car:nth-child(1),
.rent__list .rent__list__car:nth-child(2) {
  margin-top: 0;
}

.rent__list .rent__list__car:nth-child(2n),
.rent__list .rent__list__car:last-child {
  margin-right: 0;
}
.rent__list__car span {
  position: absolute;
  left: 50%;
  bottom: 10px;
  transform: translateX(-50%);
  font-family: Rubik;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
}
.rent__control {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #393e40;
  border-radius: 20px;
  font-family: Rubik;
  font-style: normal;
  font-weight: bold;
}
.rent__control__name {
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  color: #ffffff;
}
.rent__control__colors {
  margin-top: 34px;
  max-width: 152px;
  height: 22px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.rent__control__colors div {
  width: 22px;
  height: 22px;
  border-radius: 5px;
}
.rent__control__color__active {
  border: 1px solid #ffffff;
}
.rent__control__price {
  margin-top: 34px;
  width: 100%;
  height: 19px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.rent__control__sum {
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
}
.rent__control__time {
  font-size: 16px;
  line-height: 19px;
  color: #dfd6bf;
}
.rent__control__range {
  margin: 16px 20px;
  -webkit-appearance: none;
  max-width: 248px;
  width: 100%;
  max-height: 6px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 2px;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}
.rent__control__range:hover {
  opacity: 1;
}
.rent__control__range::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: linear-gradient(129.43deg, #919499 0%, #797b80 100%);
  border-radius: 7px;
  cursor: pointer;
}
.rent__control__buttons {
  width: 100%;
  margin-top: 37px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.rent__control__bank,
.rent__control__cash {
  width: 119px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #a3d96c;
  border-radius: 7px;
  opacity: 0.8;
  transition-duration: 0.3s;
}
.rent__control__bank {
  margin-right: 9px;
}

.rent__control__bank:hover,
.rent__control__cash:hover {
  opacity: 1;
}
.rent__control__bank__img {
  margin-left: -7px;
  width: 34px;
  height: 34px;
  background: center/ 34px 34px no-repeat url(../img/card.svg);
}
.rent__control__cash__img {
  margin-left: -7px;
  width: 34px;
  height: 34px;
  background: center/ 34px 34px no-repeat url(../img/money.svg);
}
.rent__control__bank span,
.rent__control__cash span {
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #ffffff;
}
